# Repo ringan tanpa merusak tampilan

# 1) Hilangkan mirrored vendor assets yang tidak diperlukan
kaito.com/elegant/www.youtube.com/
kaito.com/elegant/www.google.com/
kaito.com/elegant/static.doubleclick.net/
kaito.com/elegant/play.google.com/
kaito.com/kaito.com/elegant/kaito.com/www.youtube.com/
kaito.com/kaito.com/elegant/kaito.com/www.google.com/
kaito.com/kaito.com/elegant/kaito.com/static.doubleclick.net/
kaito.com/kaito.com/elegant/kaito.com/play.google.com/

# 2) Ignore uploads secara umum, lalu whitelist gambar yang dipakai
kaito.com/wp-content/uploads/**
kaito.com/elegant/kaito.com/wp-content/uploads/**

# Allow directories so file-level whitelist works
!kaito.com/wp-content/uploads/
!kaito.com/wp-content/uploads/2024/
!kaito.com/wp-content/uploads/2024/07/
!kaito.com/wp-content/uploads/custom/
!kaito.com/wp-content/uploads/custom/**
!kaito.com/elegant/kaito.com/wp-content/uploads/
!kaito.com/elegant/kaito.com/wp-content/uploads/2024/
!kaito.com/elegant/kaito.com/wp-content/uploads/2024/07/

# Whitelist: Elegant (default/used)
!kaito.com/elegant/kaito.com/wp-content/uploads/2024/07/Fotno-Slide-Hitungan-Hari-2-Large-SHERLY-1.jpeg
!kaito.com/elegant/kaito.com/wp-content/uploads/2024/07/Foto-SLide-Gallery-1-Large-SHERLY-1-1.jpeg
!kaito.com/elegant/kaito.com/wp-content/uploads/2024/07/Foto-Slide-Gallery-15-Large-SHERLY.jpeg

# Whitelist: Timeless (digunakan di pages.json)
!kaito.com/wp-content/uploads/2024/07/Timeless-00017-1.jpeg
!kaito.com/wp-content/uploads/2024/07/Timeless-00016-1.jpeg
!kaito.com/wp-content/uploads/2024/07/Timeless-00003-1.jpeg
!kaito.com/wp-content/uploads/2024/07/Timeless-00005-1.jpeg
!kaito.com/wp-content/uploads/2024/07/Timeless-00030-1.jpeg
!kaito.com/wp-content/uploads/2024/07/Timeless-00034-1.jpeg
!kaito.com/wp-content/uploads/2024/07/Timeless-00027-1.jpeg
!kaito.com/wp-content/uploads/2024/07/Timeless-00026-1.jpeg
!kaito.com/wp-content/uploads/2024/07/Timeless-00041-1.jpeg
!kaito.com/wp-content/uploads/2024/07/Timeless-00043-1.jpeg
!kaito.com/wp-content/uploads/2024/07/Timeless-00025-1.jpeg
!kaito.com/wp-content/uploads/2024/07/Timeless-00035-1.jpeg
!kaito.com/wp-content/uploads/2024/07/Timeless-00002-1.jpeg
!kaito.com/wp-content/uploads/2024/07/Timeless-00021.jpeg
!kaito.com/wp-content/uploads/2024/07/Timeless-00028.jpeg
!kaito.com/wp-content/uploads/2024/07/Timeless-00036.jpeg

# Whitelist: Custom images yang dipakai
!kaito.com/wp-content/uploads/custom/20251120_124933_Untuk info Pricelist chat whatsapp only….jpg
!kaito.com/wp-content/uploads/custom/20251120_102802_test gambar.jpg
!kaito.com/wp-content/uploads/custom/20251120_103656_test gambar.jpg
!kaito.com/wp-content/uploads/custom/20251118_133144_test gambar.jpg

# 3) Development caches & OS files
__pycache__/
*.pyc
.vscode/
.DS_Store
Thumbs.db
.env
kaito.com/wp-content/plugins/**
!kaito.com/wp-content/plugins/
!kaito.com/wp-content/plugins/dynamic-content-for-elementor/
!kaito.com/wp-content/plugins/dynamic-content-for-elementor/assets/
!kaito.com/wp-content/plugins/dynamic-content-for-elementor/assets/css/
!kaito.com/wp-content/plugins/dynamic-content-for-elementor/assets/js/
!kaito.com/wp-content/plugins/dynamic-content-for-elementor/assets/lib/
!kaito.com/wp-content/plugins/elementor/
!kaito.com/wp-content/plugins/elementor/assets/
!kaito.com/wp-content/plugins/elementor/assets/lib/
!kaito.com/wp-content/plugins/elementor/assets/lib/font-awesome/
!kaito.com/wp-content/plugins/elementor/assets/lib/eicons/
!kaito.com/wp-content/plugins/elementor/assets/lib/animations/
!kaito.com/wp-content/plugins/elementor/assets/lib/swiper/
!kaito.com/wp-content/plugins/elementor/assets/css/
!kaito.com/wp-content/plugins/elementor/assets/lib/font-awesome/css/
!kaito.com/wp-content/plugins/elementor/assets/lib/font-awesome/js/
!kaito.com/wp-content/plugins/elementor-pro/
!kaito.com/wp-content/plugins/elementor-pro/assets/
!kaito.com/wp-content/plugins/elementor-pro/assets/lib/
!kaito.com/wp-content/plugins/elementor-pro/assets/css/
!kaito.com/wp-content/plugins/elementor-pro/assets/js/
!kaito.com/wp-content/plugins/woocommerce/
!kaito.com/wp-content/plugins/woocommerce/assets/
!kaito.com/wp-content/plugins/woocommerce/assets/js/
!kaito.com/wp-content/plugins/woocommerce/assets/css/
!kaito.com/wp-content/plugins/woocommerce/assets/fonts/
!kaito.com/wp-content/plugins/woocommerce/assets/client/blocks/
!kaito.com/wp-content/plugins/weddingpress/
!kaito.com/wp-content/plugins/weddingpress/assets/
!kaito.com/wp-content/plugins/weddingpress/assets/css/
!kaito.com/wp-content/plugins/weddingpress/assets/js/
!kaito.com/wp-content/plugins/weddingpress/addons/comment-kit/
!kaito.com/wp-content/plugins/weddingpress/addons/comment-kit//css/
!kaito.com/wp-content/plugins/weddingpress/addons/comment-kit//js/
!kaito.com/wp-content/plugins/weddingpress/addons/comment-kit//js/libs/
!kaito.com/wp-content/plugins/piotnet-addons-for-elementor/
!kaito.com/wp-content/plugins/piotnet-addons-for-elementor/assets/
!kaito.com/wp-content/plugins/piotnet-addons-for-elementor/assets/css/
!kaito.com/wp-content/plugins/piotnet-addons-for-elementor/assets/js/
!kaito.com/wp-content/plugins/piotnet-addons-for-elementor-pro/
!kaito.com/wp-content/plugins/piotnet-addons-for-elementor-pro/assets/
!kaito.com/wp-content/plugins/piotnet-addons-for-elementor-pro/assets/css/
!kaito.com/wp-content/plugins/piotnet-addons-for-elementor-pro/assets/js/
!kaito.com/wp-content/plugins/slicewp/
!kaito.com/wp-content/plugins/slicewp/assets/
!kaito.com/wp-content/plugins/slicewp/assets/css/
!kaito.com/wp-content/plugins/slicewp/assets/js/
!kaito.com/wp-content/plugins/advanced-custom-fields-pro/
!kaito.com/wp-content/plugins/advanced-custom-fields-pro/assets/
!kaito.com/wp-content/plugins/advanced-custom-fields-pro/assets/build/
!kaito.com/wp-content/plugins/advanced-custom-fields-pro/assets/build/css/
!kaito.com/wp-content/plugins/advanced-custom-fields-pro/assets/inc/
!kaito.com/wp-content/plugins/advanced-custom-fields-pro/assets/inc/datepicker/
!kaito.com/wp-content/plugins/advanced-custom-fields-pro/assets/inc/timepicker/
!kaito.com/wp-content/plugins/acf-frontend-form-element/
!kaito.com/wp-content/plugins/acf-frontend-form-element/assets/
!kaito.com/wp-content/plugins/acf-frontend-form-element/assets/css/
!kaito.com/wp-content/plugins/dynamic-content-for-elementor/assets/css/animations.css
!kaito.com/wp-content/plugins/dynamic-content-for-elementor/assets/css/style.min.css
!kaito.com/wp-content/plugins/dynamic-content-for-elementor/assets/css/dynamic-visibility.min.css
!kaito.com/wp-content/plugins/dynamic-content-for-elementor/assets/css/add-to-calendar.min.css
!kaito.com/wp-content/plugins/dynamic-content-for-elementor/assets/css/copy-to-clipboard.min.css
!kaito.com/wp-content/plugins/dynamic-content-for-elementor/assets/lib/photoSwipe/photoswipe.min.css
!kaito.com/wp-content/plugins/dynamic-content-for-elementor/assets/lib/photoSwipe/default-skin/default-skin.css
!kaito.com/wp-content/plugins/dynamic-content-for-elementor/assets/css/acf-slider.min.css
!kaito.com/wp-content/plugins/dynamic-content-for-elementor/assets/css/tooltip.min.css
!kaito.com/wp-content/plugins/dynamic-content-for-elementor/assets/css/animated-text.min.css
!kaito.com/wp-content/plugins/dynamic-content-for-elementor/assets/js/fix-background-loop.min.js
!kaito.com/wp-content/plugins/dynamic-content-for-elementor/assets/js/settings.min.js
!kaito.com/wp-content/plugins/dynamic-content-for-elementor/assets/js/visibility.min.js
!kaito.com/wp-content/plugins/dynamic-content-for-elementor/assets/js/dynamic-countdown.min.js
!kaito.com/wp-content/plugins/dynamic-content-for-elementor/assets/lib/dayjs/dayjs.min.js
!kaito.com/wp-content/plugins/dynamic-content-for-elementor/assets/lib/expressionlanguage/expressionlanguage.min.js
!kaito.com/wp-content/plugins/dynamic-content-for-elementor/assets/lib/clipboard.js/clipboard.min.js
!kaito.com/wp-content/plugins/dynamic-content-for-elementor/assets/lib/photoSwipe/photoswipe-ui-default.min.js
!kaito.com/wp-content/plugins/dynamic-content-for-elementor/assets/lib/popperjs/popper.min.js
!kaito.com/wp-content/plugins/dynamic-content-for-elementor/assets/lib/tippy/tippy-bundle.umd.min.js
!kaito.com/wp-content/plugins/dynamic-content-for-elementor/assets/lib/greensock/gsap.min.js
!kaito.com/wp-content/plugins/dynamic-content-for-elementor/assets/lib/greensock/utils/SplitText.min.js
!kaito.com/wp-content/plugins/dynamic-content-for-elementor/assets/js/animated-text.min.js
!kaito.com/wp-content/plugins/elementor/assets/css/frontend.min.css
!kaito.com/wp-content/plugins/elementor/assets/lib/swiper/v8/css/swiper.min.css
!kaito.com/wp-content/plugins/elementor/assets/lib/swiper/v8/swiper.min.js
!kaito.com/wp-content/plugins/elementor/assets/lib/font-awesome/css/all.min.css
!kaito.com/wp-content/plugins/elementor/assets/lib/font-awesome/css/v4-shims.min.css
!kaito.com/wp-content/plugins/elementor/assets/lib/font-awesome/js/v4-shims.min.js
!kaito.com/wp-content/plugins/elementor/assets/lib/eicons/css/elementor-icons.min.css
!kaito.com/wp-content/plugins/elementor/assets/lib/animations/animations.min.css
!kaito.com/wp-content/plugins/elementor-pro/assets/css/frontend.min.css
!kaito.com/wp-content/plugins/elementor-pro/assets/js/webpack-pro.runtime.min.js
!kaito.com/wp-content/plugins/elementor-pro/assets/lib/instant-page/instant-page.min.js
!kaito.com/wp-content/plugins/elementor-pro/assets/lib/sticky/jquery.sticky.min.js
!kaito.com/wp-content/plugins/elementor-pro/assets/lib/lottie/lottie.min.js
!kaito.com/wp-content/plugins/woocommerce/assets/css/woocommerce-layout.css
!kaito.com/wp-content/plugins/woocommerce/assets/css/woocommerce-smallscreen.css
!kaito.com/wp-content/plugins/woocommerce/assets/css/woocommerce.css
!kaito.com/wp-content/plugins/woocommerce/assets/client/blocks/wc-blocks.css
!kaito.com/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js
!kaito.com/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js
!kaito.com/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min.js
!kaito.com/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js
!kaito.com/wp-content/plugins/woocommerce/assets/js/sourcebuster/sourcebuster.min.js
!kaito.com/wp-content/plugins/woocommerce/assets/js/frontend/order-attribution.min.js
!kaito.com/wp-content/plugins/woocommerce/assets/js/select2/select2.full.min.js
!kaito.com/wp-content/plugins/woocommerce/assets/js/photoswipe/photoswipe.min.js
!kaito.com/wp-content/plugins/woocommerce/assets/fonts/Inter-VariableFont_slnt,wght.woff2
!kaito.com/wp-content/plugins/woocommerce/assets/fonts/cardo_normal_400.woff2
!kaito.com/wp-content/plugins/weddingpress/assets/css/wdp.css
!kaito.com/wp-content/plugins/weddingpress/assets/css/wdp-centered-timeline.min.css
!kaito.com/wp-content/plugins/weddingpress/assets/css/wdp-horizontal-styles.min.css
!kaito.com/wp-content/plugins/weddingpress/assets/css/wdp-fontello.css
!kaito.com/wp-content/plugins/weddingpress/assets/css/exad-styles.min.css
!kaito.com/wp-content/plugins/weddingpress/assets/js/wdp-swiper.min.js
!kaito.com/wp-content/plugins/weddingpress/assets/js/qr-code.js
!kaito.com/wp-content/plugins/weddingpress/assets/js/wdp-horizontal.js
!kaito.com/wp-content/plugins/weddingpress/assets/js/exad-scripts.min.js
!kaito.com/wp-content/plugins/weddingpress/addons/comment-kit//css/wdp_style.css
!kaito.com/wp-content/plugins/weddingpress/addons/comment-kit//js/wdp_script.js
!kaito.com/wp-content/plugins/weddingpress/addons/comment-kit//js/libs/jquery.jPages.min.js
!kaito.com/wp-content/plugins/weddingpress/addons/comment-kit//js/libs/jquery.textareaCounter.js
!kaito.com/wp-content/plugins/weddingpress/addons/comment-kit//js/libs/jquery.placeholder.min.js
!kaito.com/wp-content/plugins/weddingpress/addons/comment-kit//js/libs/autosize.min.js
!kaito.com/wp-content/plugins/piotnet-addons-for-elementor/assets/css/minify/extension.min.css
!kaito.com/wp-content/plugins/piotnet-addons-for-elementor-pro/assets/css/minify/extension.min.css
!kaito.com/wp-content/plugins/piotnet-addons-for-elementor/assets/js/minify/extension.min.js
!kaito.com/wp-content/plugins/piotnet-addons-for-elementor-pro/assets/js/minify/extension.min.js
!kaito.com/wp-content/plugins/slicewp/assets/css/style-front-end.css
!kaito.com/wp-content/plugins/slicewp/assets/js/script-trk.js
!kaito.com/wp-content/plugins/advanced-custom-fields-pro/assets/build/css/acf-global.css
!kaito.com/wp-content/plugins/advanced-custom-fields-pro/assets/build/css/acf-input.css
!kaito.com/wp-content/plugins/advanced-custom-fields-pro/assets/build/css/pro/acf-pro-input.css
!kaito.com/wp-content/plugins/advanced-custom-fields-pro/assets/inc/datepicker/jquery-ui.min.css
!kaito.com/wp-content/plugins/advanced-custom-fields-pro/assets/inc/timepicker/jquery-ui-timepicker-addon.min.css
!kaito.com/wp-content/plugins/acf-frontend-form-element/assets/css/frontend-admin-min.css
!kaito.com/wp-content/plugins/acf-frontend-form-element/assets/css/modal-min.css
kaito.com/wp-includes/**
!kaito.com/wp-includes/
!kaito.com/wp-includes/css/
!kaito.com/wp-includes/js/
!kaito.com/wp-includes/js/jquery/
!kaito.com/wp-includes/js/jquery/ui/
!kaito.com/wp-includes/js/dist/
!kaito.com/wp-includes/js/tinymce/
!kaito.com/wp-includes/js/tinymce/plugins/
!kaito.com/wp-includes/js/tinymce/skins/wordpress/
!kaito.com/wp-includes/css/dashicons.min.css
!kaito.com/wp-includes/css/editor.min.css
!kaito.com/wp-includes/css/buttons.min.css
!kaito.com/wp-includes/js/jquery/jquery.min.js
!kaito.com/wp-includes/js/jquery/jquery-migrate.min.js
!kaito.com/wp-includes/js/jquery/ui/core.min.js
!kaito.com/wp-includes/js/jquery/ui/mouse.min.js
!kaito.com/wp-includes/js/jquery/ui/sortable.min.js
!kaito.com/wp-includes/js/jquery/ui/resizable.min.js
!kaito.com/wp-includes/js/jquery/ui/datepicker.min.js
!kaito.com/wp-includes/js/jquery/ui/draggable.min.js
!kaito.com/wp-includes/js/jquery/ui/slider.min.js
!kaito.com/wp-includes/js/jquery/ui/menu.min.js
!kaito.com/wp-includes/js/jquery/ui/autocomplete.min.js
!kaito.com/wp-includes/js/jquery/jquery.ui.touch-punch.js
!kaito.com/wp-includes/js/dist/dom-ready.min.js
!kaito.com/wp-includes/js/dist/hooks.min.js
!kaito.com/wp-includes/js/dist/i18n.min.js
!kaito.com/wp-includes/js/dist/a11y.min.js
!kaito.com/wp-includes/js/imagesloaded.min.js
!kaito.com/wp-includes/js/utils.min.js
!kaito.com/wp-includes/js/quicktags.min.js
!kaito.com/wp-includes/js/hoverIntent.min.js
!kaito.com/wp-includes/js/wplink.min.js
!kaito.com/wp-includes/js/tinymce/tinymce.min.js
!kaito.com/wp-includes/js/tinymce/plugins/compat3x/plugin.min.js
!kaito.com/wp-includes/js/tinymce/skins/wordpress/wp-content.css
